.todo-item {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #fff;
  border-radius: 12px;
  margin: 6px 4px;
  height: 40px;
}
.todo-item > label {
  flex: 1;
  font-size: 17px;
}
.todo-item .checkbox {
  margin: 0 10px;
  width: 16px;
  height: 16px;
}
.todo-item .active {
  text-decoration: line-through;
}
