.app {
  display: grid;
  place-items: center;
  background-color: rgb(168, 173, 182);
  min-height: 100vh;
  width: 100vw;
}
.app-container {
  width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}
.todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
